Checks: clang-analyzer-*, clang-*,
        cppcoreguidelines-*,
        performance-*,
        bugprone-*,
        modernize-*, 
        concurrency-*, 
        portability-*,
        readability-*,
        -readability-identifier-length, -readability-magic-numbers, -readability-implicit-bool-conversion,
        # boost-*
        # -cppcoreguidelines-pro-bounds-pointer-arithmetic, -cppcoreguidelines-special-member-functions, -cppcoreguidelines-avoid-magic-numbers, -cppcoreguidelines-pro-bounds-constant-array-index

WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: "file"
# CheckOptions: